@import "tailwindcss";

@theme {
  --color-coffee: #331707;
  --color-beige: #ffe9d9;

  --font-heading: "Times New Roman", Times, serif;
  --font-body: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-coffee);
  color: var(--color-beige);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom utilities if needed */
.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}


@layer utilities {
  .b {
    @apply border border-red-500;
  }
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}
